/*------------------------------------------------------------------*
  LIST
*-------------------------------------------------------------------*/

/* .c-list
--------------------------------------------------------------------*/

.c-list {
  color: red;
}

.c-list__item {
  color: blue;
}

/* end c.list
-----------------------------------------------------------------------*/




/* .c-list-2
--------------------------------------------------------------------*/

.c-list-2 {
  color: red;
}

.c-list-2__item {
  color: blue;
}

/* end c.list-2
-----------------------------------------------------------------------*/