extend includes/layout.pug

block title
  title Pagina de about
  - var activePage = "/about"

block header
  include includes/header.pug

block content
  h1 Pagina de about
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis tempora et, temporibus distinctio excepturi beatae sed dolor quos ullam, corporis illum delectus tempore quia reiciendis quidem saepe repellendus, eligendi odio?