extend includes/layout.pug

block title
  title Pagina de contacto
  - var activePage = "/contact"

block header
  include includes/header.pug

block content
  h1 Pagina de contacto
  h3 Lorem ipsum dolor sit.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga recusandae laudantium blanditiis delectus reprehenderit exercitationem quo nobis omnis voluptates natus numquam nostrum, consequuntur iste quam saepe aspernatur, accusamus quis quidem!