doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="mi-nombre")
    link(rel="stylesheet" href="css/styles.css")
    block title
  body
    block header

    block content

    block footer

    script(src="js/app.js")

    block script-footer